language: python

services:
  - couchdb

python:
  - 2.7
  - 3.7
  - 3.8
  - 3.9
  - pypy

notifications:
  email:
    recipients:
      - rinat.sabitov@gmail.com
    on_success: change
    on_failure: change

before_install:
  - pip install poetry

install:
  - poetry install

script:
  - poetry run flake8 --ignore=E731 --max-line-length 90 pycouchdb test
  - pytest -v --doctest-modules --cov pycouchdb

after_success:
  - coveralls
