[tool.poetry]
name = "pycouchdb"
version = "1.14.2"
description = "Modern pure python CouchDB Client."
authors = ["Andrey Antukh <niwi@niwi.be>"]
maintainers = ["Rinat Sabitov <rinat.sabitov@gmail.com>"]
license = "BSD-3-Clause"
readme = "README.md"
repository = "https://github.com/histrio/py-couchdb"
documentation = "https://pycouchdb.readthedocs.io/en/latest/"
keywords = ["couchdb", "database"]

classifiers = [
    "Topic :: Utilities",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.dependencies]
python = "^2.7 | ^3.8 | ^3.7 | ^3.6 | ^3.9 | ^3.10"
requests = "^2.25"

[tool.poetry.dev-dependencies]
responses = "^0.12"
Pygments = "^2.5"
pytest = "^4.6"
flake8 = "^3.8.4"
pytest-coverage = "^0.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
